# ======================
# Python
# ======================

__pycache__/
*.py[cod]
*.pyo
*.pyd

# ======================
# Virtual Environment
# ======================

venv/
.venv/
env/

# ======================
# Environment Variables
# ======================

.env

# ======================
# Cache
# ======================

.cache
*.cache

# ======================
# VSCode
# ======================

.vscode/

# ======================
# OS
# ======================

.DS_Store
Thumbs.db

# ======================
# Logs
# ======================

logs/
*.log

# ======================
# Future Assets
# ======================

covers/

# Folder ignore pribadi
ignore/

# Runtime state
app_state.json
*.tmp